extends ./layout/index

block slider
  .slider
    em    Hora con estilo

block contenido
  main.container.mt-5 
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5 
      .col-md-6     
       
        p Somos una relojeria dedicada a la venta de virtual y presencial de relojes curren, debido a la demanda y la necesidad de este complemento de una buena vestimenta en curren combinamos lo economico con lo elegante pero siempre al mejor precio y calidad del mercado pensando siempre en la sastifacion del cliente. 
        p Curren tienen su origen en una leyenda de la relojería, un tal Louis-Bastien Villeneuve. Desde entonces (cito de la propia web) han sido lucidos por astronautas, reyes, héroes y presidentes, para hoy día seguir produciendo relojes exclusivos gracias a Jean-Luc Villeneuve, hijo de Lois y actual CEO de la empresa.
       

      .col-md-6
        img(src="/img/superior.webp" alt="imagen nosotros" class="img-fluid")
    include ./layout/bloque_relojes
  .descuento 
    .container 
      .row 
        .col-md-6 
          .contenido 
            h3 5% de descuento 
            p.titulo en tu primera compra online 
            p.fecha 1 de diciembre del 2023 hasta 5 de diciembre del 2023
 



