extends ./layout/index

block slider
  .slider
    em  Da la hora con estilo

block contenido
  main.container.mt-5 
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5 
      .col-md-6     

        p Curren tienen su origen en una leyenda de la relojería, un tal Louis-Bastien Villeneuve. Desde entonces (cito de la propia web) han sido lucidos por astronautas, reyes, héroes y presidentes, para hoy día seguir produciendo relojes exclusivos gracias a Jean-Luc Villeneuve, hijo de Lois y actual CEO de la empresa.
        P Dejando a un lado esta historia, sin duda producto del marketing, la realidad es que los relojes Curren son fabricados en China por Shenzhen-Meigeer Watch Company Ltd, la misma fabrica de donde salen otras muchas marcas de relojes, como Megir, Weide, Sinobi o incluso Guess.

      .col-md-6
        img(src="/img/superior.webp" alt="imagen nosotros" class="img-fluid")
    include ./layout/bloque_relojes
  .descuento 
    .container 
      .row 
        .col-md-6 
          .contenido 
            h3 5% de descuento 
            p.titulo en tu primera compra online 
            p.fecha 1 de diciembre del 2023 hasta 5 de diciembre del 2023
 



