extends ./layout/index

block contenido
  main.container.mt-5 
      .row 
         .col-md-5 
            img(src="img/cupon.jpg", alt="imagen nosotros", class="img-fluid")   
         .col-md-7
            h1 #{pagina}
            blockquote los relojes Curren tienen su origen en una leyenda de la relojería, un tal Louis-Bastien Villeneuve. Desde entonces (cito de la propia web) han sido lucidos por astronautas, reyes, héroes y presidentes, para hoy día seguir produciendo relojes exclusivos gracias a Jean-Luc Villeneuve, hijo de Lois y actual CEO de la empresa.

            p  los relojes Curren son fabricados en Shenzhen, al norte de Hong Kong, aunque son muchos los distribuidores de esta marca en todo el mundo, lo que a menudo genera confusión.

            p  los relojes Curren son fabricados en China por Shenzhen-Meigeer Watch Company Ltd, la misma fabrica de donde salen otras muchas marcas de relojes, como Megir, Weide, Sinobi o incluso Guess.
  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row  
        .col-md-6 
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Garantizamos un envio seguro con protocolos de seguridad que incluyen un rastreo en vivo y administrado por las empresas lideres de envio como Uber flash
        .col-md-6 
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Los Mejores Precios 
          p Curren es una marca elegante a la moda y para toda ocasion, pero una de sus mejores ventajas son sus precios asequibles
