header 
    .navegacion 
        .container 
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4 
                .col-md-4.col-6 
                    a.nav-link(href="/")
                        h1.text-light the watches RD
                .col-md-8 
                    nav.mt-2.mt-md-0.nav.justify-content-center.justify-content-md-end 
                        a.nav-link(href="/nosotros") Nosotros
                        a.nav-link(href="/relojes")  Relojes
                        a.nav-link(href="/testimoniales") Testimoniales